{% extends "index.html" %}
{% block link %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basket.css') }}">
{% endblock %}
{% block sub_banner%}
<div class="sub_first"></div>
<div class="sub_second">Name</div>
<div class="sub_third">Price</div>

{%endblock%}
{% block content %}
<!-- We need a for loop here which prints each item in the basket-->
<div class="basket">
<form method = "POST" id="basket">
{% for item in contents %}
<div class ="item" name="{{item.ItemId}}">
  <img src="{{url_for('static', filename='images/'+item.ItemLink)}}", width=100 />
  <div class="name">{{ item.ItemName }}</div>
  <div class="price">{{ item.ItemPrice }}</div>
  <div class="submit">
    <input type="submit" value="Remove" formaction="{{url_for('updateBasket')}}?item={{item.ItemId}}"></input>
  </div>
</div>
{% endfor %}
</form>
</div>
<form method ="POST" class="checkout" id="checkout">
<button type="submit" formaction="{{url_for('checkout')}}">Checkout</button>
<div class="totalprice">Total Price: {{totalprice}}</div>
</form>
{% endblock %}
