{% extends "index.html" %}
{% block sub_banner%}
Basket:

{%endblock%}
{% block content %}
<!-- We need a for loop here which prints each item in the basket-->
<form method = "POST" id="basket">
{% for item in contents %}
<div name="{{item.ItemId}}">
  {{ item.ItemName }}
  {{ item.ItemPrice }}
  <button type="submit" formaction="{{url_for('updateBasket')}}?item={{item.ItemId}}">Remove</button>
</div>
{% endfor %}
</form>
{% endblock %}
{% block script %}
<script type="text/javascript">
  function removeSelf(itemId){
    var request = new XMLHttpRequest();
    request.addEventListener('load', addShow);
    request.open('POST', {{ url_for('updateBasket')|tojson }});
    request.send(new FormData(itemId));
  }
</script>
{% endblock %}
