<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi|Coiny|Fredoka+One" rel="stylesheet">
</head>

<body>

  <div class="container">
    <div class="banner">
      <div class="first"><a href={{url_for(pages[page_list[0]])}}><div> {{page_list[0]}}</div> </a></div>
      <div class="second"><a href={{url_for(pages[page_list[1]])}}> <div>{{page_list[1]}}</div> </a></div>
      <div class="third"><a href={{url_for(pages[page_list[2]])}}><div> {{page_list[2]}}</div> </a></div>
      <div class="fourth"><a href={{url_for(pages[page_list[3]])}}><div> {{page_list[3]}}</div> </a></div>
    </div>

    <div class="sub_banner">
      {% block sub_banner %}

      {% endblock sub_banner %}
    </div>

    <div class="leftside">
    </div>
    <div class="content">
      {% block content %}
      {%  endblock content %}
    </div>

    <div class="rightside">

    </div>
  </div>
</body>

<footer>

</footer>

</html>
