<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi|Coiny|Fredoka+One" rel="stylesheet">


</head>

<body>
  {% for items in item %}
    <a href = '{{url_for('info', itemid = items.ItemId)}}'>{{ items.ItemName }}</a>
  {% endfor %}






  <div class="container">



    <div class="leftside">
      <div class="countries">
          Countries
          <div class="dropdown_information">
            <a href="#">United States</a>
            <a href="#">Italy</a>
            <a href="#">United Kingdom</a>
            <a href="#">Netherlands</a>
            <a href="#">Switzerland</a>
            <a href="#">France</a>
          </div>

      </div>
      <div class="types">
          Types of Cheese
          <div class="dropdown_information">
            <a href="#">Hard Cheese</a>
            <a href="#">Semi Hard Cheese</a>
            <a href="#">Goat Cheese</a>
            <a href="#">Blue Cheese</a>
            <a href="#">Soft Cheese</a>
            <a href="#">Fresh Cheese</a>
          </div>

      </div>
    </div>

    <div class="banner">
      <div class="first"><a href={{url_for(pages[page_list[0]])}}><div> {{page_list[0]}}</div> </a></div>
      <div class="second"><a href={{url_for(pages[page_list[1]])}}> <div>{{page_list[1]}}</div> </a></div>
      <div class="third"><a href={{url_for(pages[page_list[2]])}}><div> {{page_list[2]}}</div> </a></div>
      <div class="fourth"><a href={{url_for(pages[page_list[3]])}}><div> {{page_list[3]}}</div> </a></div>
    </div>

    <div class="content">
      <div class="sub_banner">
        {% block sub_banner %}
        <form id="search_bar">
          <input name="search" size=50 type="search" placeholder="Search for an item here"></input>
          <input type="submit" value="Search">
        </form>
        <div id="result"></div>
        {% endblock sub_banner %}
      </div>
      {% block content %}

      {%  endblock content %}
    </div>

    <div class="rightside">

    </div>
  </div>
</body>

<footer>
  {% block script %}
  <script type="text/javascript">
    function addSubmit(ev) {
      ev.preventDefault();
      console.log('test')
      var request = new XMLHttpRequest();
      request.addEventListener('load', addShow);
      request.open('POST', {{ url_for('search')|tojson }});
      request.send(new FormData(this));
    }

    function addShow() {
      var data = JSON.parse(this.responseText);
      console.log(data)
      var span = document.getElementById('result');
      span.innerHTML = "";
      for(i=0;i<data.result.length;i++){
        span.innerHTML += data.result[i]+"<br>";
      }

    }

    var form = document.getElementById('search_bar');
    form.addEventListener('onkeyup', addSubmit);
  </script>
  {% endblock script %}
</footer>

</html>
