<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi|Coiny|Fredoka+One|Sniglet" rel="stylesheet">
  {%block link %}
  {% endblock %}
</head>


  <div class="container">
    <div class="leftside">
      <div class="types">
          <div class="title">
            Types of Cheese
          </div>
          <div class="list">
            <div><a href="#">Hard Cheese</a></div>
            <div><a href="#">Semi Hard Cheese</a></div>
            <div><a href="#">Goat Cheese</a></div>
          <div><a href="#">Blue Cheese</a></div>
            <div><a href="#">Soft Cheese</a></div>
            <div><a href="#">Fresh Cheese</a></div>
          </div>
      </div>
    </div>

    <div class="banner">
      <div class="logo"><img src="{{url_for('static', filename='images/cheese_logo.png')}}"/></div>
      <div class="first"><a href={{url_for(pages[page_list[0]])}}><div> {{page_list[0]}}</div> </a></div>
      <div class="second"><a href={{url_for(pages[page_list[1]])}}> <div>{{page_list[1]}}</div> </a></div>
      <div class="third"><a href={{url_for(pages[page_list[2]])}}><div> {{page_list[2]}}</div> </a></div>
      <div class="fourth"><a href={{url_for(pages[page_list[3]])}}><div> {{page_list[3]}}</div> </a></div>
    </div>

    <div class="content">
      <div class="sub_banner">
        {% block sub_banner %}

        {% endblock sub_banner %}
      </div>
      {% block content %}
      {%  endblock content %}
    </div>

    <div class="rightside">
      <div class="countries">
          <div class="title">
            Countries
          </div>
          <div class="list">
            <div><a href="#">United States</a></div>
            <div><a href="#">Italy</a></div>
            <div><a href="#">United Kingdom</a></div>
            <div><a href="#">Netherlands</a></div>
            <div><a href="#">Switzerland</a></div>
            <div><a href="#">France</a></div>
          </div>
      </div>
    </div>
  </div>
</body>
<footer>
  {% block script %}
  <script type="text/javascript">
    function addSubmit(ev) {
      ev.preventDefault();
      console.log('test')
      var request = new XMLHttpRequest();
      request.addEventListener('load', addShow);
      request.open('POST', {{ url_for('search')|tojson }});
      request.send(new FormData(this));
    }

    function addShow() {
      var data = JSON.parse(this.responseText);
      console.log(data)
      var span = document.getElementById('result');
      span.innerHTML = "";
      for(i=0;i<data.result.length;i++){
        span.innerHTML += data.result[i]+"<br>";
      }

    }

    var form = document.getElementById('search_bar');
    form.addEventListener('onkeyup', addSubmit);
  </script>
  {% endblock script %}
</footer>

</html>
