{% extends "index.html" %}


{% block content %}
  <form method="POST" action="{{url_for('signup')}}">
    {{ form.csrf_token }}
    {{ form.username.label }}
    {{ form.username }}
    <br/>
    <br/>
    {{ form.email.label }}
    {{ form.email }}
    <ul>
    {% for error in form.email.errors %}
      <li style="color:red;">{{error}}</li>
    {% endfor %}
    </ul>
    <br/>
    <br/>
    {{ form.password.label }}
    {{ form.password }}
    <input type="submit" value="Sign Up">
  </form>
{% endblock %}
