.sub_banner{
  height:25px;
  font-size:20px;
  font-family:Baloo Thambi;
  grid-area:banner;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color:#b9baa2;
  grid-gap: 20px;
  padding:10px;

}

.item{
  display:grid;
  grid-template-areas:
  "image name price"
  "button button button";
  grid-template-columns: 1fr 1fr 1fr;
}
.item:nth-child(2n+1){
  background-color:#dce65a;
}
.item:nth-child(2n){
  background-color:#e4eb91;
}

div > img{
  grid-area: image;
  height:75px;
  border-style:solid;

}
.item > div{
  font-family:Baloo Thambi;
  font-size:15px;
	position:relative;
  top:25px;
}
.name{
  grid-area:name;
}
.price{
  grid-area:price;
}

.item > button{
  grid-area:button;
  width:max;
  font-family:Sniglet;
  height:25px;
}
.checkout{
  padding-top:5px;
  font-family:Baloo Thambi;
  text-align:right;
  font-size:30px;
}
.checkout > button{
  height:40px;
  width:250px;
}
