.banner{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color:#c8cecd;
	grid-gap: 5px;
	padding: 10px;

}



.banner > div > a{
display:grid;
text-decoration:none;
background-color:#FFFFFF;
color: hsl(180, 100%, 0%);
height:75px;
}

.banner > div > a > div{
  grid-area:title;
  font-size:40px;
  font-family: "Coiny", cursive;
}
